[submodule "e-school-service-base"]
	path = e-school-service-base
	url = https://github.com/WeisonWei/e-school-service-base.git
[submodule "e-school-service-account"]
	path = e-school-service-account
	url = https://github.com/WeisonWei/e-school-service-account.git
