[submodule "e-school-service-base"]
	path = e-school-service-base
	url = https://github.com/WeisonWei/e-school-service-base.git
[submodule "e-school-service-account"]
	path = e-school-service-account
	url = https://github.com/WeisonWei/e-school-service-account.git
[submodule "e-school-service-user"]
	path = e-school-service-user
	url = https://github.com/WeisonWei/e-school-service-user.git
[submodule "e-school-service-gateway"]
	path = e-school-service-gateway
	url = https://github.com/WeisonWei/e-school-service-gateway.git
[submodule "e-school-service-api"]
	path = e-school-service-api
	url = https://github.com/WeisonWei/e-school-service-api.git
[submodule "e-school-service-feign"]
	path = e-school-service-feign
	url = https://github.com/WeisonWei/e-school-service-feign.git
[submodule "e-school-service-discovery"]
	path = e-school-service-discovery
	url = https://github.com/WeisonWei/e-school-service-discovery.git
[submodule "e-school-service-config"]
	path = e-school-service-config
	url = https://github.com/WeisonWei/e-school-service-config.git
[submodule "e-school-service-admin"]
	path = e-school-service-admin
	url = https://github.com/WeisonWei/e-school-service-admin.git
